Q1. Write a program to calculate the electricity bill
using only if statement? (accept number of unit from user)
according to the following criteria:

Unit                  Price
First 100 units       no charge
Next 100 units        Rs 5 per unit
After 200 units       Rs 10 per unit
(For example, if input unit is 350 than total bill amount is Rs2000). Lets explain...
For first 100 no charges
Now you have 250 unit remaining
100-200 you need to pay – 100*5 = 500
Now 200-100 you need to pay 150*10 = 1500
Total = 500+1500 = 2000

In [2]:
units = int(input("please enter your bill: "))
bill = 0

if units <= 100:
    bill = 0
    print("no charge")
if units > 100 and units <= 200:
    bill = (units - 100) * 5
    print("Rs 5 per unit")
if units > 200:
    bill = (100 * 5) + ((units - 200) * 10)
    print("Rs 10 per unit")

print("total bill: Rs", bill)

please enter your bill:  350

Rs 10 per unit
total bill: Rs 2000

Q2. Write a program to accept percentage from the user and display
the grade according to the following criteria:

Marks Grade
> 90 A
> 80 and <= 90 B
>= 60 and <= 80 C
below 60 D

In [1]:
percentage=float(input("enter your number:"))
if percentage > 90:
    print("grade: A")
elif percentage > 80 and percentage <= 90:
    print("grade:B")
elif percentage >= 60 and percentage <= 80:
    print("grade:C")
else:
    print("grade:D")

enter your number: 91

grade: A

Q3. Accept the age of 4 people and display the youngest one?

In [5]:
a=int(input("Enter your age of person 1: "))
b=int(input("Enter your age of person 2: "))
c=int(input("Enter your age of person 3: "))
d=int(input("Enter your age of person 4: "))
youngest=a
person="person 1"
if b<youngest:
    youngest=b
    person="person 2"
if c<youngest:
    youngest=c
    person="person 3"
if d<youngest:
    youngest=d
    person="person 4"
print("The youngest age is: ",youngest)
print("The youngest person is: ",person)

Enter your age of person 1:  45
Enter your age of person 2:  78
Enter your age of person 3:  15
Enter your age of person 4:  15

The youngest age is:  15
The youngest person is:  person 3

Q4. A company decided to give bonus to employee
according to following criteria:

Time period of Service      Bonus

More than 10 years          10%

>=6 and <=10                8%

Less than 6 years           5%

Ask user for their salary and years of service and print the
net bonus amount?

In [12]:
salary=float(input("Enter your salary: "))
years=int(input("Enter your years of services: "))
if years>10:
    bonus=salary*10
elif years>=6 and years<=10:
    bonus=salary*8
else:
    bonus=salary*5
print("your bonus amount is:",bonus)
print("your total salary (salary+bonus):",salary+bonus)

Enter your salary:  5000
Enter your years of services:  12

your bonus amount is: 50000.0
your total salary (salary+bonus): 55000.0

Q5. Accept three numbers from the user and
display the second largest number?

In [14]:
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
c=int(input("Enter third number:"))
if(a>b and a<c) or (a<b and a>c):
    second=a
elif(b>a and b<c) or (b<a and b>c):
    second=b
else:
    second=c
print("Enter the second largest number:",second)

Enter first number: 12
Enter second number: 8
Enter third number: 13

Enter the second largest number: 12

Q6. Accept the marked price from the user and calculate
the Net amount as (Marked Price – Discount) to pay
according to following criteria:

Marked Price              Discount
>10000                    20%
>7000 and <=10000         15%
<=7000                    10%

In [15]:
marked_prise=float(input("Enter the marked price"))
if marked_prise>10000:
    discount=marked_prise*0.20
elif marked_prise>7000 and marked_prise<=10000:
    discount=marked_prise*0.15
else:
    discount=marked_prise*10
net_amount=marked_prise - discount
print("marked_prise:",marked_prise)
print("discount:",discount)
print("net amount to pay:",net_amount)

Enter the marked price 12000

marked_prise: 12000.0
discount: 2400.0
net amount to pay: 9600.0

Q7. Accept the marks of English, Math and Science,
Social Studies Subject and display the stream allotted
according to following:

All Subjects more than 80 marks — Science Stream

English >80 and Math, Science above 50 — Commerce Stream

English > 80 and social studies > 80 — Humanities

In [17]:
english=int(input("Enter the marks in english"))
math=int(input("Enter the marks in math"))
science=int(input("Enter the marks in science"))
social=int(input("Enter the marks in social"))

if english>80 and math > 80 and science > 80 and social > 80:
    print("stream allotted: science")
elif english > 80 and math > 50 and science >50:
    print("stream allotted: commerce stream")
elif english > 80 and social > 80:
    print("stream allotted: humanities:")
else:
    print("no specfic allotted stream")

Enter the marks in english 85
Enter the marks in math 45
Enter the marks in science 55
Enter the marks in social 92

stream allotted: humanities:

Q8. Write a program to display "Hello" if a number entered
by user is a multiple of five, otherwise print "Bye"?

In [19]:
num=int(input("Enter the number"))
if num % 5 == 0:
    print("Hello")
else:
    print("Bye")

Enter the number 56

Bye

Q9. Write a program to check whether the last digit of a number
(entered by user) is divisible by 3 or not?

In [24]:
last_digit=int(input("Enter the number"))
last_digit = num%10

if last_digit % 3==0:
    print(" The last_digit",last_digit,"is divisible by 3")
else:
    print("the last_digit",last_digit,"is not divisible by 3")

Enter the number 853

 The last_digit 6 is divisible by 3

Q10. Write a program to check whether a number entered
is three-digit number or not?

In [26]:
num=int(input("Enter a number:"))
if(num >= 100 and num <= 999) or (num <= -100 and num >= -999):
    print("It is a three digit number")
else:
    print("It is not a three digit number")

Enter a number: 55

It is not a three digit number